{% extends "template.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

<section id="section-article">
    <div class="intro-article">
        <h1>{{ article.title }}</h1>
        <p>{{ article.extract }}</p>
        <figure class="author-infos">
            <img src="{{ asset('/media/profils/') }}{{ article.authorImage }}" alt="Image de profil de {{ article.authorName }}">
            <figcaption>
                <h4>{{ article.authorName }}</h4>
                <p>{{ article.date|date("d M Y") }}</p>
            </figcaption>
        </figure>
    </div>
    <div class="main-content-article">
        <figure>
            <img src="{{ asset('/media/blog/' ~ article.image) }}" alt="{{ article.title }}">
        </figure>

        <div class="content-text">
            <p>{{ article.content }}</p>    
        </div>
    </div>

    <div class="sharethis-inline-share-buttons"></div>
</section>

{% endblock %}