{% extends "template.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}

<section id="section-article">
	<h1>{{ article.title }}</h1>
	{# Manque les données de l'auteur pour le moment, faire à la dure pour l'instant, on remplira une fois la requête modifier.#}
	<p>{{ article.extract }}</p>
    <figure>
        <img src="{{ asset('/media/blog/' ~ article.image) }}" alt="{{ article.title }}">
    </figure>
    <p>{{ article.content }}</p>

</section>

{% endblock %}