{% extends "template.html.twig" %}

{% block title %}Rajouter une article{% endblock %}

{% block content %}

	   {# {% for data in datas %} #}
    <h1>{{ datas.title }}</h1>
    <p><em>{{ datas.date }}</em></p>
    <img src="{{ datas.image }}" alt="{{ datas.title }}" width="300">
    <p>{{ datas.content }}</p>
    {# {% endfor %} #}
	

	
{% endblock %}