{% extends "template.html.twig" %}

{% block title %}Bienvenue sur Loca'R
{% endblock %}

{% block content %}
	<!-- ---------- SECTION - BLOG ---------- -->
<section id="section-blog">
	<h2>Notre Journal</h2>
	<p class="sub-title-blog">Les clients partagent leur expérience, leur télétravail et le choix de leur location.</p> 
  
	<div id="container-cards-section-blog">
		{% for article in allArticles %}  
			<a href="{{ path('basearticle') }}/{{ article.articleId}}">
				<div class="card medium-card">
					<figure>
						<img src="{{ asset('/media/blog/' ~ article.image) }}" alt="{{ article.title }}">
					</figure>

					<div class="card-details">
						<div class="description">
							<h3>{{ article.title }}</h3>
							<q class="card-descriptions-limit">{{ article.extract }}</q>
						</div>
						<div class="date-author">
							<p>{{ article.date }}</p>
							<h4>{{ article.authorName }}</h4>
						</div>
					</div>
				</div>
			</a>
		{% endfor %}
	</div>
</section>
{% endblock %}
