{% extends "template.html.twig" %}

{% block title %}Bienvenue sur Loca'R
{% endblock %}

{% block content %}

<!-- ---------- SECTION - BLOG ---------- -->

<section id="section-blog" class="row-limit-size">
  <h2>Notre Journal</h2>
  <p class="sub-title-section">Les clients partagent leur expérience, leur télétravail et le choix de leur location.</p>
  <div id="container-section-blog">
    <div class="card-blog">
      <div class="card-blog-top">
        <figure id="pict-aticle-1">
          <img src="{{ asset('/media/blog/bateau.png') }}" alt="Ajouter">
        </figure>
      </div>

      <div class="card-blog-bottom">
        <h4>Les meilleures destinations de vacances pour les amateurs de plage</h4>
        <p>Découvrez les destinations de vacances pour les amateurs de plage...</p>
        <p class="date-article-blog"><i>21 Juin 2023</i></p>
        <a href="{{ path('article') }}"> ↗</a>
      </div>
    </div>

    <div class="card-blog">
      <div class="card-blog-top">
        <figure id="pict-aticle-2">
          <img src="{{ asset('/media/blog/famille.png') }}" alt="Ajouter">
        </figure>
      </div>
      <div class="card-blog-bottom">
        <h4>Organiser des vacances en famille </h4>
        <p>Découvrez des conseils pratiques pour organiser des vacances en famille..</p>
        <p class="date-article-blog"><i>30 Juillet 2023</i></p>
        <a href="./front/blog2.php"> ↗</a>
      </div>
    </div>


    <div class="card-blog">
      <div class="card-blog-top">
        <figure id="pict-aticle-3">
          <img src="{{ asset('/media/blog/teletravail.png') }}" alt="Ajouter">
        </figure>
      </div>
      <div class="card-blog-bottom">
        <h4>Les avantages des locations pour les voyages d'affaires</h4>
        <p>Découvrez pourquoi les locations de vacances sont une option idéale pour les voyages d'affaires...</p>
        <p class="date-article-blog"><i>30 Mai 2023</i></p>
        <a href="./front/blog3.php"> ↗</a>
      </div>
    </div>

    <div class="card-blog">
      <div class="card-blog-top">
        <figure id="pict-aticle-4">
          <img src="{{ asset('/media/blog/escapade.png') }}" alt="Ajouter">
        </figure>
      </div>
      <div class="card-blog-bottom">
        <h4>Les plus belles masions de vacances pour des escapades romantiques</h4>
        <p>Découvrez les plus belles maisons pour des escapades romatiques...</p>
        <p class="date-article-blog"><i>10 Août 2023</i></p>
        <a href="./front/blog4.php"> ↗</a>
      </div>
    </div>

    <div class="card-blog">
      <div class="card-blog-top">
        <figure id="pict-aticle-5">
          <img src="{{ asset('/media/blog/vacances.png') }}" alt="Ajouter">
        </figure>
      </div>
      <div class="card-blog-bottom">
        <h4>Comment économiser de l'argent lors de votre prochain voyage</h4>
        <p>Découvrez des conseils pratiques pour économiser de l'argent...</p>
        <p class="date-article-blog"><i>03 Mai 2023</i></p>
        <a href="./front/blog5.php"> ↗</a>
      </div>
    </div>

    <div class="card-blog">
      <div class="card-blog-top">
        <figure id="pict-aticle-5">
          <img src="{{ asset('/media/blog/maison.png') }}" alt="Ajouter">
        </figure>
      </div>
      <div class="card-blog-bottom">
        <h4>Les avantages d'opter pour une location</h4>
        <p>Découvrez les avantages de choisir une location de vacances plutôt qu'un hôtel...</p>
        <p class="date-article-blog"><i>05 Juillet 2023</i></p>
        <a href="./front/blog6.php"> ↗</a>
      </div>
    </div>

    <div class="card-blog">
      <div class="card-blog-top">
        <figure id="pict-aticle-6">
          <img src="{{ asset('/media/blog/break.png') }}" alt="Ajouter">
        </figure>
      </div>
      <div class="card-blog-bottom">
        <h4>Conseils pour choisir la location de vacances parfaite</h4>
        <p>Découvrez des conseils pratiques pour choisir la location de vacances parfaite...</p>
        <p class="date-article-blog"><i>13 Juin 2023</i></p>
        <a href="./front/blog6.php"> ↗</a>
      </div>
    </div>


    <div class="card-blog">
      <div class="card-blog-top">
        <figure id="pict-aticle-6">
          <img src="{{ asset('/media/blog/entreamis.png') }}" alt="Ajouter">
        </figure>
      </div>
      <div class="card-blog-bottom">
        <h4>Vacances entre amis au bord de la mer</h4>
        <p>Découvrez des lieux insolites partout en France...</p>
        <p class="date-article-blog"><i>17 Août 2023</i></p>
        <a href="./front/blog6.php"> ↗</a>
      </div>
    </div>

    <div class="card-blog">
      <div class="card-blog-top">
        <figure id="pict-aticle-6">
          <img src="{{ asset('/media/blog/jourdelan.png') }}" alt="Ajouter">
        </figure>
      </div>
      <div class="card-blog-bottom">
        <h4>Jour de l'An entre amis</h4>
        <p>Découvrez les grandes maisons pour accueillir de nombreuses personnes pour un séjour festif...</p>
        <p class="date-article-blog"><i>05 Juillet 2023</i></p>
        <a href="./front/blog6.php"> ↗</a>
      </div>
    </div>
  </div>
</section>


{% endblock %}