{% extends "template.html.twig" %}

{% block title %}Catalogue
{% endblock %}

{% block content %}
	<form action="{{ path('search') }}" method="GET" id="search-form">
		<input type="text" name="search" placeholder="Rechercher une location . . ." id="input-search">
		<input type="submit" value="Rechercher">
	</form>

	{% include 'category-menu.html.twig' %}

	<h2>Résultat de votre recherche</h2>

	<div id="response"></div>

	<section class="catalog-cards">
		{% for property in result %}
			<a href="#">
				<div class="card">
					<figure>
							<img src="{{ asset('/media/locations/' ~ images.imageMainURL) }}" alt="{{ property.title }}"/>
						<figcaption>
							<a href="#">
								<img src="{{ asset('/media/icons/heart.svg') }}" alt="Favoris Logo">
							</a>
						</figcaption>
					</figure>

					<div class="card-details">
						<div class="pricing">
							<h3>
								<span>{{ property.priceNight }}€</span>/nuit
							</h3>
							<div class="rating">
								<img src="{{ asset('/media/icons/rating-fullstar.svg') }}" alt="Rating stars">
								<p>5.0</p>
							</div>
						</div>
						<div class="location">
							<img src="{{ asset('/media/icons/map-pin.svg') }}" alt="Location pin">
							<p>{{ property.city }},{{ property.region }}</p>
						</div>
						<div class="description">
							<h3>{{ property.title }}</h3>
							<p>{{ property.description }}</p>
						</div>
						<button>
							<span>Réserver</span>
						</button>
					</div>
				</div>
			</a>
		{% endfor %}
	</section>
{% endblock %}
