{% extends "template.html.twig" %}

{% block title %}Catalogue
{% endblock %}

{% block content %}
	{% include 'category-menu.html.twig' %}
	{# <form action="{{ path('search') }}" method="GET" id="search-form">
								<input type="text" name="search" placeholder="Rechercher une location . . ." id="input-search">
								<input type="submit" value="Rechercher">
							</form> #}
	<h2>Résultat de votre recherche</h2>

	{% if result is empty %}
		<p>Votre recherche ne donne aucun résultat.</p>
	{% else %}
		<section id="catalog-cards">
			{% for property in result %}
				<a href="{{ path('baseProperty') }}{{ property.propertyId }}">
					<div class="card">
						<figure>
							{% if property.images is defined %}
								{% set images = property.images %}
								{% if images.imageMainURL is defined %}
									<img src="{{ asset('/media/locations/' ~ images.imageMainURL) }}" alt="{{ property.title }}"/>
								{% endif %}
							{% endif %}
							<figcaption>
								{% if user is defined %}
									<form method="POST" action="{{ path('favorite') }}" class="favorite-form {% if property.isFavorite %}favorite-active{% endif %}">
										<input type="hidden" name="propertyId" value="{{ property.propertyId }}">
										<button>
											{% if property.isFavorite %}
												<img src="{{ asset('/media/icons/heart-solid.svg') }}" alt="" id="heart-img-{{ property.propertyId }}">
											{% else %}
												<a href="{{ path('register') }}"><img src="{{ asset('/media/icons/heart.svg') }}" alt="" id="heart-img-{{ property.propertyId }}"></a>
											{% endif %}
										</button>
									</form>
								{% else %}
									<a href="{{ path('register') }}"><img src="{{ asset('/media/icons/heart.svg') }}" alt="" id="heart-img-{{ property.propertyId }}"></a>
								{% endif %}
							</figcaption>
						</figure>
						<div class="card-details">
							<div class="pricing">
								<h3>
									<span>{{ property.priceNight }}€</span>/nuit
								</h3>
								<div class="rating">
									<img src="{{ asset('/media/icons/rating-fullstar.svg') }}" alt="Rating stars">
									<p>{{ property.averageRating|number_format(1, '.', '') }}</p>
								</div>
							</div>
							<div class="location">
								<img src="{{ asset('/media/icons/map-pin.svg') }}" alt="Location pin">
								<p>{{ property.city }},
									{{ property.region }}</p>
							</div>
							<div class="description">
								<h3>{{ property.title }}</h3>
								<p class="card-descriptions-limit">{{ property.description }}</p>
							</div>
							<button class="main-button-style">
								<span>Réserver</span>
							</button>
						</div>
					</div>
				</a>
			{% endfor %}
		</section>
	{% endif %}
{% endblock %}
