{% extends "templatedashboard.html.twig" %}

{% block title %}
	Dashboard
{% endblock %}

{% block content %}
<section class="dashboard">
    <section class="welcome-dashboard">
        <h1>Bienvenue,
            <span>{{ user.firstName }}</span>
            !</h1>

        <div class="user-menu">
            <div class="add first-link">
                <div class="dropdown">
                    <a href="#" class="dropbtn">
                        <img src="{{ asset('/media/icons/plus.svg') }}" alt="Menu">
                        Ajouter . . .
                    </a>
                    <div class="dropdown-content">
                        <a href="{{ path('propertyAdd') }}">
                        <img src="{{ asset('/media/icons/property.svg') }}" alt="Propriétés"> une propriété</a>
                        <a href="{{ path('articleAdd') }}"><img src="{{ asset('/media/icons/blog.svg') }}" alt="Articles Blog"> un article</a>
                    </div>
                </div>
            </div>
            <div class="add property tab">
                <a href="#my-proprieties">
                    <img src="{{ asset('/media/icons/property.svg') }}" alt="Mes Propriétés">
                    <p>Mes Propriétés</p>
                </a>
            </div>
            <div class="add favoris tab">
                <a href="#my-favs">
                    <img src="{{ asset('/media/icons/heart.svg') }}" alt="Mes Favoris">
                    <p>Mes Favoris</p>
                </a>
            </div>
            <div class="add locations tab">
                <a href="#my-locations">
                    <img src="{{ asset('/media/icons/locations.svg') }}" alt="Mes Locations">
                    <p>Mes Locations</p>
                </a>
            </div>
            <div class="add reservations tab">
                <a href="#my-reservations">
                    <img src="{{ asset('/media/icons/reservation.svg') }}" alt="Mes Réservations">
                    <p>Mes Réservations</p>
                </a>
            </div>
            <div class="add blog tab">
                <a href="#my-articles">
                    <img src="{{ asset('/media/icons/blog.svg') }}" alt="Mes Articles Blog">
                    <p>Blog</p>
                </a>
            </div>
        </div>
    </section>
    {% if message %}
        <div id="message" data-content="{{ message }}"></div>
    {% endif %}

    <section class="dashboard-cards-my-proprieties" id="my-proprieties">

        <h2>Mes propriétés</h2>
        <div class="cards-container">
            {% if userProperties is empty %}
            <p>Vous ne disposer pas de location</p>
            {% else %}
            {% for property in userProperties %}
            {% if property is defined %}
            <a href="{{ path('baseProperty') }}{{ property.propertyId }}">
                <div class="card">
                    <figure>
                        {% if property.propertyImages is defined %}
                        <img src="{{ asset('/media/locations/' ~ property.propertyImages.imageMainURL) }}"
                            alt="{{ property.title }}" />
                        {% endif %}
                    </figure>

                    <div class="card-details">
                        <div class="pricing">
                            <h3>
                                <span>{{ property.priceNight }}€</span>/nuit
                            </h3>
                            <div class="rating">
                                <img src="{{ asset('/media/icons/rating-fullstar.svg') }}" alt="Rating stars">
                                <p>{{ property.averageRating|number_format(1, '.', '') }}</p>
                            </div>
                        </div>
                        <div class="location">
                            <img src="{{ asset('/media/icons/map-pin.svg') }}" alt="Location pin">
                            <p>{{ property.city }}</p>
                        </div>
                        <div class="description">
                            <h3>{{ property.title }}</h3>
                            <p class="card-descriptions-limit">{{ property.description }}</p>
                        </div>
                        <div class="dashboard-property-buttons">
                            <a href="{{ path('baseEditproperty') }}{{ property.propertyId }}">
                                <div class="button">
                                    <p>Modifier</p>
                                </div>
                            </a>
                            <form action="{{ path('baseDeleteproperty') }}{{ property.propertyId }}" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="submit" value="Supprimer" class="delete">
                            </form>
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </section>

    <section class="dashboard-cards-my-favs" id="my-favs">

        <h2>Mes Favoris</h2>
        <div class="cards-container">
            {% if userFavorites is empty %}
            <p>Vous ne disposez pas de favori.</p>
            {% else %}
            {% for favorite in userFavorites %}
            {% set property = favorite.property %}
            {% if property %}
            {% set averageRating = property.averageRating|number_format(1, '.', '') %}
            <a href="{{ path('baseProperty') ~ property.propertyId }}">
                <div class="card">
                    <figure>
                        {% if property.propertyImages %}
                        <img src="{{ asset('/media/locations/' ~ property.propertyImages.imageMainURL) }}"
                            alt="{{ property.title }}" />
                        {% endif %}
                    </figure>

                    <div class="card-details">
                        <div class="pricing">
                            <h3>
                                <span>{{ property.priceNight }}€</span>/nuit
                            </h3>
                            <div class="rating">
                                <img src="{{ asset('/media/icons/rating-fullstar.svg') }}" alt="Étoiles de notation">
                                <p>{{ averageRating }}</p>
                            </div>
                        </div>
                        <div class="location">
                            <img src="{{ asset('/media/icons/map-pin.svg') }}" alt="Location pin">
                            <p>{{ property.address }}</p>
                        </div>
                        <div class="description">
                            <h3>{{ property.title }}</h3>
                            <p class="card-descriptions-limit">{{ property.description }}</p>
                        </div>
                        <div class="dashboard-property-buttons">
                            <form action="{{ path('favoriteDelete') }}" method="POST">
                                <input type="submit" value="Supprimer" class="delete delete-favorite"
                                    data-method="DELETE" data-property-id="{{ property.propertyId }}">
                            </form>
                        </div>
                    </div>
                </div>
            </a>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </section>

    <section class="dashboard-cards-my-locations" id="my-locations">
        <h2>Mes locations</h2>
        <div class="cards-container">
            {% if userRentedProperties is empty %}
            <p>Vous ne disposer pas de location.</p>
            {% else %}
            {% for property in userRentedProperties %}
            <a href="{{ path('baseProperty') ~ property.propertyId }}">
                <div class="card medium-card">
                    <figure>
                        {% if property.propertyImages %}
                        <img src="{{ asset('/media/locations/' ~ property.propertyImages.imageMainURL) }}"
                            alt="{{ property.title }}" />
                        {% endif %}
                    </figure>

                    <div class="card-details">
                        <div class="description">
                            <div class="locataire">
                                <div class="img-profile">
                                    <img src="" alt="">
                                </div>
                                <h3>Loué par @User</h3>
                            </div>
                        </div>

                        <div class="calendar">
                            <div class="arrival">
                                <h4>Arrivée</h4>
                                <input type="date" id="arrivalDate"
                                    value="{{ userReservations.checkInDate|date('Y-m-d') }}" format="YYYY-MM-DD"
                                    readonly>
                            </div>
                            <div class="departure">
                                <h4>Départ</h4>
                                <input type="date" id="departureDate"
                                    value="{{ userReservations.checkoutDate|date('Y-m-d') }}" format="YYYY-MM-DD"
                                    readonly>
                            </div>
                        </div>

                        <div class="dashboard-property-buttons">
                            <button class="main-dash-button-style" type="submit" name="submit">
                                <span>Contacter</span>
                            </button>
                        </div>
                    </div>
                </div>
        </div>
        </a>
        {% endfor %}
        {% endif %}
        </div>
    </section>

    <section class="dashboard-cards-my-reservations" id="my-reservations">
        <h2>Mes réservations</h2>
        <div class="cards-container">
            {% if userReservations is empty %}
            <p>Vous ne disposez pas de réservation.</p>
            {% else %}
            {% for reservation in userReservations %}
            {% set property = reservation.property %}
            <a href="{{ path('baseProperty') ~ property.propertyId }}">
                <div class="card smaller-card">
                    <figure>
                        {% if property.propertyImages %}
                        <img src="{{ asset('/media/locations/' ~ property.propertyImages.imageMainURL) }}"
                            alt="{{ property.title }}" />
                        {% endif %}
                    </figure>

                    <div class="card-details">
                        <div class="description">
                            <div class="calendar">
                                <div class="arrival">
                                    <h4>Arrivée</h4>
                                    <input type="date" id="arrivalDate" format="YYYY-MM-DD">
                                </div>
                                <div class="departure">
                                    <h4>Départ</h4>
                                    <input type="date" id="departureDate" format="YYYY-MM-DD">
                                </div>
                            </div>
                        </div>
                        <div class="dashboard-property-buttons">
                            <a href="{{ path('favoriteDelete') ~ property.propertyId }}">
                                <div class="button">
                                    <p>Modifier</p>
                                </div>
                            </a>
                            <form action="{{ path('reservationDelete') }}" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="propertyId" value="{{ property.propertyId }}">
                                <input type="submit" value="Annuler" class="delete">
                            </form>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </section>

    <section class="dashboard-cards-my-articles" id="my-articles">
        <h2>Mes Articles Blog</h2>
        <div class="cards-container">
            {% if userArticles is empty %}
            <a href="{{ path('blog') }}">Vous n'avez rien publier pour le moment.</a>
            {% else %}
            {% for userArticle in userArticles %}
            <a href="{{ path('basearticle') }}/{{ userArticle.articleId }}">
                <div class="card medium-card">
                    <figure>
                        {% if userArticle.image %}
                        <img src="{{ asset('/media/blog/' ~ userArticle.image) }}"
                            alt="{{ userArticle.title }}" />
                        {% endif %}
                    </figure>

                    <div class="card-details">
                        <div class="description">
                            <h3>{{ userArticle.title }}</h3>
                            <q class="card-descriptions-limit">{{ userArticle.extract }}</q>
                        </div>
                        <div class="dashboard-property-buttons">
                            <a href="{{ path('baseUpdateArticle')}}{{ userArticle.articleId}}">
                                <div class="button">
                                    <p>Modifier</p>
                                </div>
                            </a>
                            <form action="{{ path('baseDeletetArticle') }}{{ userArticle.articleId}}" method="POST">
				                <input type="submit" name="delete" value="DELETE" id="delete-article">
                            </form>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            {% endif %}
        </div>
    </section>
</section>
{% endblock %}
