{% extends "templatedashboard.html.twig" %}

{% block title %}Mon Compte
{% endblock %}

{% block content %}
	<section id="user-edit">
		<h2>Mon Compte</h2>
		<form method="POST" action="{{ router.generate('editUser',{'id': user.uid}) }}" >
			<p>Nom Légal</p>
			<div class="user-names">
				<input type="text" name="firstName" value="{{ user.firstName }}">
				<input type="text" name="lastName" value="{{ user.lastName }}">
			</div>
            <p>Mot de passe</p>
			<input type="password" name="password">
            <p>Confirmation</p>
			<input type="password" name="confirmation">

			<p>E-mail</p>
			<input type="text" name="email" value="{{ user.email }}">

			<p>Numéro de Téléphone</p>
			<input type="text" name="phoneNumber" value="06 66 66 66 66">

			<p>Date de Naissance</p>
			<input type="date" name="birthdate">

			<div class="account-buttons">
				<input type="submit" name="submit" value="Modifier">
		</form>

        <form action="{{ path('deleteUser') }}" method="POST">
		{# "{{ router.generate('deleteUser', {'id': user.id}) }}"  #}
			<input type="submit" name="delete" value="DELETE">
    	    
        </form>

	

		    </div>

	</section>
{% endblock %}
