{% extends "templatedashboard.html.twig" %}

{% block title %}
	Bienvenue,
	{{ firstName }}
{% endblock %}

{% block content %}
	<section class="dashboard">
		<section class="welcome-dashboard">
			<h1>Bienvenue,
				{{ firstName }}
				!</h1>

			<div class="user-menu">
				<div class="add first-link">
					<a href="{{ path('propertyAdd') }}">
						<img src="{{ asset('/media/icons/plus.svg') }}" alt="Ajouter">
						<p>Ajouter une propriété</p>
					</a>
				</div>
				<div class="add favoris">
					<a href="#">
						<img src="{{ asset('/media/icons/heart.svg') }}" alt="Mes Favoris">
						<p>Mes Favoris</p>
					</a>
				</div>
				<div class="add property">
					<a href="#">
						<img src="{{ asset('/media/icons/property.svg') }}" alt="Mes Propriétés">
						<p>Mes Propriétés</p>
					</a>
				</div>

				<div class="add filter">
					<a href="#">
						<img src="{{ asset('/media/icons/filter-dashboard.svg') }}" alt="Mes Propriétés">
						<p>Filtrer</p>
					</a>
				</div>
			</div>
		</section>

		<section class="dashboard-cards-my-proprieties">
			<h2>Mes propriétés</h2>
			<div class="cards-container">
				{% for property in userProperties %}
					{% if property is defined %}
						<a href="{{ path('baseProperty') }}{{ property.propertyId }}">
							<div class="card">
								<figure>
									{% if property.propertyImages is defined %}
										<img src="{{ asset('/media/locations/' ~ property.propertyImages.imageMainURL) }}" alt="{{ property.title }}"/>
									{% endif %}
									<figcaption>
										<form method="POST" action="{{ path('favorite') }}">
											<input type="hidden" name="propertyId" value="{{ property.propertyId }}">
											<button><img src="{{ asset('/media/icons/heart.svg') }}" alt=""><input type="submit" name="submit"></button>
										</form>
									</figcaption>
								</figure>

								<div class="card-details">
									<div class="pricing">
										<h3>
											<span>{{ property.priceNight }}€</span>/nuit</h3>
										<div class="rating">
											<img src="{{ asset('/media/icons/rating-fullstar.svg') }}" alt="Rating stars">
											<p>5.0</p>
										</div>
									</div>
									<div class="location">
										<img src="{{ asset('/media/icons/map-pin.svg') }}" alt="Location pin">
										<p>{{ property.address }}</p>
									</div>
									<div class="description">
										<h3>{{ property.title }}</h3>
										<p class="card-descriptions-limit">{{ property.description }}</p>
									</div>
									<div class="dashboard-property-buttons">
										<a href="{{ path('baseEditproperty') }}{{ property.propertyId }}">
											<div class="button">
												<p>Modifier</p>
											</div>
										</a>
										<form action="{{ path('baseDeleteproperty') }}{{ property.propertyId }}" method="POST">
											<input type="hidden" name="_method" value="DELETE">
											<input type="submit" value="Supprimer" class="delete">
										</form>
									</div>
								</div>
							</div>
						</a>
					{% endif %}
				{% endfor %}
			</div>
		</section>

		<section class="dashboard-cards-my-favs">
			<h2>Mes Favoris</h2>
			<div class="cards-container">
				{% for favorite in userFavorites %}
					{% set property = favorite.property %}
					<a href="{{ path('baseProperty') ~ property.propertyId }}">
						<div class="card">
							<figure>
								{% if property.propertyImages is defined %}
									<img src="{{ asset('/media/locations/' ~ property.propertyImages.imageMainURL) }}" alt="{{ property.title }}"/>
								{% endif %}
								<figcaption>
									<form method="POST" action="{{ path('favorite') }}">
										<input type="hidden" name="propertyId" value="{{ property.propertyId }}">
										<button><img src="{{ asset('/media/icons/heart.svg') }}" alt=""><input type="submit" name="submit"></button>
									</form>
								</figcaption>
							</figure>

							<div class="card-details">
								<div class="pricing">
									<h3>
										<span>{{ property.priceNight }}€</span>/nuit</h3>
									<div class="rating">
										<img src="{{ asset('/media/icons/rating-fullstar.svg') }}" alt="Rating stars">
										<p>5.0</p>
									</div>
								</div>
								<div class="location">
									<img src="{{ asset('/media/icons/map-pin.svg') }}" alt="Location pin">
									<p>{{ property.address }}</p>
								</div>
								<div class="description">
									<h3>{{ property.title }}</h3>
									<p class="card-descriptions-limit">{{ property.description }}</p>
								</div>
								<div class="dashboard-property-buttons">
									<a href="{{ path('baseEditproperty') ~ property.propertyId }}">
										<div class="button">
											<p>Modifier</p>
										</div>
									</a>
									<form action="{{ path('baseDeleteproperty') ~ property.propertyId }}" method="POST">
										<input type="hidden" name="_method" value="DELETE">
										<input type="submit" value="Supprimer" class="delete">
									</form>
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</section>


	</section>
{% endblock %}
