<footer>

	<div class="limit-size footer-desktop">
	<figure>
		<img src="{{ asset('/media/icons/logoname.svg') }}" alt="Loca'R Logo">
		<figcaption>
			<div class="social-media">
				<a href="#"><img src="{{ asset('/media/icons/socials/facebook.svg') }}" alt="Facebook Logo"></a>
				<a href="#">
				<img src="{{ asset('/media/icons/socials/twitter.svg') }}" alt="Twitter logo"></a>
				<a href="#">
				<img src="{{ asset('/media/icons/socials/instagram.svg') }}" alt="Instagram Logo"></a>
				<a href="#">
				<img src="{{ asset('/media/icons/socials/youtube.svg') }}" alt="YouTube Logo"></a>
				<a href="#">
				<img src="{{ asset('/media/icons/socials/github.svg') }}" alt="GitHub Logo"></a>
			</div>
		</figcaption>
	</figure>
		<a href="#">Confidentialités</a>
		<a href="#">Conditions Générales</a>
		<a href="{{ path('blog') }}">Blog</a>
		{# <a href="#"><img src="{{ asset('/media/icons/arrow-top.svg') }}" alt=""></a> #}
	</div>

	<div class="limit-size footer-mobile">
		<a href="#">
			<img src="{{ asset('/media/icons/catalog.svg') }}" alt="">
		</a>
		<a href="#">
			<img src="{{ asset('/media/icons/heart-footer.svg') }}" alt="">
		</a>
		{% if session.connect %}
			<a href="{{ path('dashboard') }}">
				<img src="{{ asset('/media/icons/user-footer.svg') }}" alt="Dashboard Utilisateur">
			</a>
		{% else %}
			<a href="{{ path('register') }}"><img src="{{ asset('/media/icons/user-footer.svg') }}" alt="Se connecter ou s'inscrire">
			{% endif %}
	</div>

	</footer>
