<header class="dashboard-header limit-size">
	<div class="logo-header">
		<a href="{{ path('home') }}">
			<img src="{{ asset('/media/icons/home.svg') }}" alt="Logo">
		</a>
	</div>

	<div class="search-dashboard">
		<img src="{{ asset('/media/icons/dashboard-search.svg') }}" alt="Search">
		<input type="text" name="search-dashboard" id="search-dashboard" placeholder="Rechercher . . .">
	</div>

	<div class="right-menu">
		<div class="app">
			<img src="{{ asset('/media/icons/notification.svg') }}" alt="Icon de notification">
			<img src="{{ asset('/media/icons/messagerie.svg') }}" alt="Icon Messagerie">
		</div>

		<div class="user-menu" id="user-menu">
			<a href="#">
				<img src="{{ asset('/media/pict-default.webp') }}" alt="Image de profil" class="profilepic">
			</a>
			<div class="user-data">
				<h3>{{ firstName }}</h3>
				<p>{{ email }}</p>
			</div>

			<a href="#" id="submenu">
				<img src="{{ asset('/media/icons/arrow-down.svg') }}" alt="Flèche menu" class="arrow-dropdown">
			</a>

			<div class="submenu-dashboard">
				<ul>
					<li><a href="#"><img class="submenu-icon"src="{{ asset('/media/icons/plus.svg') }}" alt="Icône Ajouter">Ajouter</a></li>
					<li><a href="#"><img class="submenu-icon"src="{{ asset('/media/icons/notification.svg') }}" alt="Icône Notification">Mes alertes</a></li>
					<li><a href="#"><img class="submenu-icon"src="{{ asset('/media/icons/messagerie.svg') }}" alt="Icône Messagerie">Ma messagerie</a></li>
					<li><a href="{{ path('options') }}"><img class="submenu-icon"src="{{ asset('/media/icons/setting.svg') }}" alt="Icône Option">Options</a></li>
					<li><a href="{{ path('logout') }}"><img class="submenu-icon"src="{{ asset('/media/icons/logout.svg') }}" alt="Icône se déconnecter">Se déconnecter</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
