<header class="limit-size">
	<nav>
		<ul>
			<li class="logo">
				<a href="{{ path('home') }}">
					<img src="{{ asset('/media/icons/logo.svg') }}" alt="Logo">
					<p class="poppins darkerblue">Loca'R</p>
				</a>
			</li>

			<div id="searchbar">
				<form action="" method="GET">
					<div
						class=" input-group location">
						{# <label for="location">N'importe où</label> #}
						<input type="text" id="location" name="search-location" placeholder="N'importe où">
					</div>

					<div
						class="input-group check-in">
						{# <label for="check-in">Une semaine</label> #}
						<input
						type="text" id="check-in" name="search-calendar" placeholder="Une semaine">
					{# <div class="input-group check-out">
															        				<label for="check-out">Check-out</label>
															    					<input type="text" id="check-out" placeholder="Add dates">
															  					</div> #}
					</div>

					<div class="input-group guests">
						<label for="guests"></label>
						<input type="text" id="guests" name="search-guest" placeholder="Ajouter des voyageurs">
					</div>
					<button type="submit">
						<img src="{{ asset('/media/icons/search.svg') }}" alt="Icône rechercher">
					</button>
				</form>
			</div>

			<li class="user">
				{% if session.connect %}
					<a href="{{ path('logout') }}"><img src="{{ asset('/media/icons/logout.svg') }}" alt="Se déconnecter"></a>
				{% else %}
					<a href="{{ path('register') }}"><img src="{{ asset('/media/icons/user.svg') }}" alt="Se connecter ou s'inscrire "></a>
				{% endif %}
			</li>
		</ul>
		<div id="sub-nav">
			{% for tag in tags %}
				<ul>
					<li>
						<a href="#">{{ tag.type }}</a>
					</li>
				</ul>
			{% endfor %}
		</div>
	</nav>

</header>
