<header class="header-main">

	<div class="limit-size header-content">
		<div id="logo">
			<a href="{{ path('home') }}">
				<img src="{{ asset('/media/icons/logoname.svg') }}" alt="Logo">
			</a>
		</div>

		<div id="container-searchbar">
			<div id="desktop-searchbar">
				<a href="#">
					<div id="searchbar">
						<div class="search-element separation">
							<p>N'importe où</p>
						</div>
						<div class="search-element separation">
							<p>Une semaine</p>
						</div>
						<div class="search-element">
							<p class="grey">Ajouter des voyageurs</p>
						</div>
						<button>
							<img src="{{ asset('/media/icons/search.svg') }}" alt="Icône recherche">
						</button>
					</div>
				</a>
			</div>
		</div>

		{# <div id="container-mobile-searchbar">
			<a href="#">
				<div id="mobile-searchbar">
					<div class="search-icon mobile-element">
						<img src="{{ asset('/media/icons/search-mobile.svg') }}" alt="Icône recherche">
					</div>
					<div class="text-search mobile-element">
						<p>N'importe où</p>
						<p class="lightgrey">
							Une semaine • Ajouter des voyageurs
						</p>
					</div>
					<div class="filter-icon mobile-element">
						<button>
							<img src="{{ asset('/media/icons/filter-mobile.svg') }}" alt="Icône filtres">
						</button>
					</div>
				</div>
			</a>
		</div> #}

		<div id="user">
			{% if session.connect %}
				<a href="{{ path('dashboard') }}"><img src="{{ asset('/media/icons/user.svg') }}" alt="Dashboard utilisateur"></a>
			{% else %}
				<a href="{{ path('register') }}"><img src="{{ asset('/media/icons/user.svg') }}" alt="Se connecter ou s'inscrire "></a>
			{% endif %}
		</div>
	</div>
</header>
