{% extends "template.html.twig" %}

{% block title %} {{ property.title }} {% endblock %}

{% block content %}

	{# ---------- property-section ---------- #}
	<section id="property-section">
		<h1>{{ property.title }}</h1>
		<span>{{ property.comment }}○{{ property.address }}</span>

		<figure>
			<img src="{{ asset('/media/locations/' ~ propertyImages.imageMainURL) }}" alt="{{ property.title }}"/>
			<img src="{{ asset('/media/locations/' ~ propertyImages.image1URL) }}" alt="{{ property.title }}"/>
			<img src="{{ asset('/media/locations/' ~ propertyImages.image2URL) }}" alt="{{ property.title }}"/>
			<img src="{{ asset('/media/locations/' ~ propertyImages.image3URL) }}" alt="{{ property.title }}"/>
			<img src="{{ asset('/media/locations/' ~ propertyImages.image4URL) }}" alt="{{ property.title }}"/>
		</figure>

		<div class="container-description-property">

			{# ---------- Property ---------- #}
			<h3>Chez @User</h3>

			{# <h3>Type de location :
				{% if propertyType.house == 1 %}
					<p>Maison</p>
				{% endif %}
				{% if propertyType.guesthouse == 1 %}
					<p>Maison d'hôte</p>
				{% endif %}
				{% if propertyType.flat == 1 %}
					<p>Appartement</p>
				{% endif %}
				{% if propertyType.hotel == 1 %}
					<p>Hôtel</p>
			</h3>
			{% endif %} #}

			{# <p>{{ property.priceNight }}€/nuit</p> #}
			<div class="property-amenities">
				<p>{{ houseRules.maxGuests }} voyageurs</p>
				{# ---------- Amenities ---------- #}
				{% if propertyAmenities.beds > 0 %}
					<p>
						{{ propertyAmenities.beds }}
						{{ propertyAmenities.beds == 1 ? "lit" : "lits" }}
					</p>
				{% endif %}

				{% if propertyAmenities.bedrooms > 0 %}
					<p>
						{{ propertyAmenities.bedrooms }}
						{{ propertyAmenities.bedrooms == 1 ? "chambre" : "chambres" }}
					</p>
				{% endif %}

				{% if propertyAmenities.bathrooms > 0 %}
					<p>
						{{ propertyAmenities.bathrooms }}
						{{ propertyAmenities.bathrooms == 1 ? "salle de bain" : "salles de bain" }}
					</p>
				{% endif %}

				{% if propertyAmenities.toilets > 0 %}
					<p>
						{{ propertyAmenities.toilets }}
						{{ propertyAmenities.toilets == 1 ? "toilette" : "toilettes" }}
					</p>
				{% endif %}
			</div>
			<div class="property-description">
				<p>{{ property.description }}</p>
			</div>
			<div class="property-equipment">
				<p>Ce que propose ce logement :</p>
				{% if accommodationType.piscine == 1 %}
					<p>Piscine</p>
				{% endif %}
				{% if accommodationType.parkingGratuit == 1 %}
					<p>Parking gratuit</p>
				{% endif %}
				{% if accommodationType.jacuzzi == 1 %}
					<p>Jacuzzi</p>
				{% endif %}
				{% if accommodationType.wifi == 1 %}
					<p>Wifi</p>
				{% endif %}
				{% if accommodationType.laveLinge == 1 %}
					<p>Lave-linge</p>
				{% endif %}
				{% if accommodationType.secheLinge == 1 %}
					<p>Sèche-linge</p>
				{% endif %}
				{% if accommodationType.climatisation == 1 %}
					<p>Climatisation</p>
				{% endif %}
				{% if accommodationType.chauffage == 1 %}
					<p>Chauffage</p>
				{% endif %}
				{% if accommodationType.espaceTravailDedie == 1 %}
					<p>Espace de travail dédié</p>
				{% endif %}
				{% if accommodationType.television == 1 %}
					<p>Télévision</p>
				{% endif %}
				{% if accommodationType.secheCheveux == 1 %}
					<p>Sèche-cheveux</p>
				{% endif %}
				{% if accommodationType.ferRepasser == 1 %}
					<p>Fer à repasser</p>
				{% endif %}
				{% if accommodationType.stationRechargeVehiElectriques == 1 %}
					<p>Station de recharge pour véhicules électriques</p>
				{% endif %}
				{% if accommodationType.litBebe == 1 %}
					<p>Lit pour bébé</p>
				{% endif %}
				{% if accommodationType.salleSport == 1 %}
					<p>Salle de sport</p>
				{% endif %}
				{% if accommodationType.barbecue == 1 %}
					<p>Barbecue</p>
				{% endif %}
				{% if accommodationType.petitDejeuner == 1 %}
					<p>Petit déjeuner</p>
				{% endif %}
				{% if accommodationType.cheminee == 1 %}
					<p>Cheminée</p>
				{% endif %}
				{% if accommodationType.logementFumeur == 1 %}
					<p>Logement fumeur</p>
				{% endif %}
				{% if accommodationType.detecteurFumee == 1 %}
					<p>Détecteur de fumée</p>
				{% endif %}
				{% if accommodationType.detecteurMonoxyDeCarbone == 1 %}
					<p>Détecteur de monoxyde de carbone</p>
				{% endif %}
			</div>
			<div class="property-comments">
				<p>Commentaires :</p>
				<p>{{ user.firstName }}</p>
				<p>{{ comment.rating }}
					étoiles</p>
				<p>{{ comment.commentText }}</p>
			</div>

			{# ---------- Google maps ---------- #}
			<h3>Où se situe ce logement</h3>

			{% include 'googlemaps.html.twig' %}
			<p>Perthes, Île-de-France, France</p>
			{# ----------------------------------- #}

			<div class="property-host">
				{# ---------- Host Languages ---------- #}
				<p>Langues parlées par l'hôte :</p>
				{% if hostLanguage.anglais == 1 %}
					<p>Anglais</p>
				{% endif %}
				{% if hostLanguage.français == 1 %}
					<p>Français</p>
				{% endif %}
				{% if hostLanguage.allemand == 1 %}
					<p>Allemand</p>
				{% endif %}
				{% if hostLanguage.japonais == 1 %}
					<p>Japonais</p>
				{% endif %}
				{% if hostLanguage.italien == 1 %}
					<p>Italien</p>
				{% endif %}
				{% if hostLanguage.russe == 1 %}
					<p>Russe</p>
				{% endif %}
				{% if hostLanguage.espagnol == 1 %}
					<p>Espagnol</p>
				{% endif %}
				{% if hostLanguage.chinois == 1 %}
					<p>Chinois</p>
				{% endif %}
				{% if hostLanguage.arabe == 1 %}
					<p>Arabe</p>
				{% endif %}
			</div>

			<div class="property-conditions">
				{# ---------- HouseRules ---------- #}
				<p>Règlement intérieur :</p>
				<p>Heure d'arrivée :
					{{ houseRules.checkInTime|slice(0, 5) }}</p>
				<p>Heure de départ :
					{{ houseRules.checkOutTime|slice(0, 5) }}</p>

				{# ---------- Cancellation Policy ---------- #}
				<p>Conditions d'annulation :</p>
				{% if cancellationPolicy %}
					<p>Temps d'annulation :
						{{ cancellationPolicy.cancellationTime }}
						heures</p>
					<p>Politique de remboursement :
						{{ cancellationPolicy.refundPolicy }}</p>
					<p>Frais d'annulation :
						{{ cancellationPolicy.cancellationFees }}
						€</p>
				{% else %}
					<p>Aucune politique d'annulation définie pour cette propriété.</p>
				{% endif %}
			</div>
		</div>

	</section>
{% endblock %}
