{% extends "template.html.twig" %} 

{% block title %}{{ property.title }} {% endblock %} 

{% block content %}
<figcaption>
    <img src="{{ asset('/media/pict-default.webp') }}" alt="" />
    <img src="{{ asset('/media/pict-default.webp') }}" alt="" />
    <img src="{{ asset('/media/pict-default.webp') }}" alt="" />
    <img src="{{ asset('/media/pict-default.webp') }}" alt="" />
</figcaption>
<h1>{{ property.title }}</h1>

<p>{{ property.content }}</p>

{% endblock %}
