<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		{% block stylesheet %}{% endblock %}
		<link rel="stylesheet" href="{{ asset('/css/font.css') }}"/>
		<link rel="stylesheet" href="{{ asset('/css/style.css') }}"/>

		<title>
			{% block title %}Loca'R
			{% endblock %}
		</title>

		<script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=64de03074265f4001221c85e&product=inline-share-buttons&source=platform" async="async"></script>
	</head>

	<body data-user-logged-in="{{ session.uid is defined ? 'true' : 'false' }}">
		{% include 'header.html.twig' %}
		<main class="limit-size"> {% block content %}{% endblock %}
			</main>

			{% include 'footer.html.twig' %}

			{% block googleAPI %}
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTkV0SRCLJ9DnzywThlI_HwT8W6-KRL_Q&callback=initMap&v=weekly" defer></script>
			{% endblock %}

			{% block javascript %}
				<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
				<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
				<script src="{{ asset('/js/notifications.js') }}"></script>
				<script src="{{ asset('/js/search.js') }}"></script>
				<script src="{{ asset('/js/register.js') }}"></script>
				<script src="{{ asset('/js/searchbar.js') }}"></script>
				<script src="{{ asset('/js/main.js') }}"></script>
				<script src="{{ asset('/js/reservation.js') }}"></script>
				<script src="{{ asset('/js/favorite.js') }}"></script>
				<script src="{{ asset('/js/rating.js') }}"></script>
			{% endblock %}

		</body>
	</html>
