<!-- index.twig -->
<h1>Liste des contacts</h1>
{# <ul>
    {% for contact in contacts %}
        <li>{{ contact.getFirstName() }} {{ contact.getLastName() }}</li>
    {% endfor %}
</ul>


<h1>Créer un contact</h1>
<form action="#" method="post">
    <input type="text" name="firstName" placeholder="Prénom" required><br>
    <input type="text" name="lastName" placeholder="Nom" required><br>
    <input type="email" name="email" placeholder="Adresse e-mail" required><br>
    <button type="submit">Créer</button>
</form>

<!-- edit.twig -->
<h1>Modifier le contact</h1>
<form action="#" method="post">
 {# /contacts/{{ contact.getId() }} #}
    {# <input type="text" name="firstName" placeholder="Prénom" value="{{ contact.getFirstName() }}" required><br>
    <input type="text" name="lastName" placeholder="Nom" value="{{ contact.getLastName() }}" required><br>
    <input type="email" name="email" placeholder="Adresse e-mail" value="{{ contact.getEmail() }}" required><br>
    <button type="submit">Modifier</button>
</form> #} 
